@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Libre Baskerville', serif;
}

.bg-marble-texture { 
  background-image: url('../public/images/marble-texture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.bg-dark-marble-texture {
  background-image: url('../public/images/dark-marble-texture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
